HOST=your_host_url
PORT=your_port_number
DB_URI=your_database_uri
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=your_jwt_expires_in
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret